# AWS ECR
ECR_REGISTRY=
ECR_REPOSITORY_FRONTEND=
ECR_REPOSITORY_BACKEND=
IMAGE_TAG=

# Database (stored in AWS Secrets Manager)
# POSTGRES_USER=
# POSTGRES_PASSWORD=
# POSTGRES_DB=

# Backend (stored in AWS Secrets Manager)
# JWT_SECRET=